/*Setting body and background*/ 

body{
    background-image: url(./images/back3.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(12, 21, 30);
}

/*Top header profile image*/

.odin{
   height:70px;
   border-radius: 50%;
   border: 10px solid #FEDE00;
   text-decoration: none;
}

/* Header Title */

.header {
    padding: 2px;
    text-align: center;
    background: #917587;
    margin:10px;
    font-size:20px;
  }

  /* Include padding and border in total box size*/
* {
    box-sizing: border-box;
  }
.title{
    height: 70px;
    text-align: center;
}
  /* Create two equal columns that float next to each other */
.column-3 {
    float: left;
    width: 27%;
    padding: 10px;
    text-align:left;
    height: 275px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    color:white;
    border:5px solid black;
    padding-top: 210px; ;
    
  }

  .recipe1 {
    background-image: url('./images/pumpkinroll.jpg');
  background-size: cover;
  background-position: center;
  }
  .recipe2 {
    background-image: url('./images/noodles.jpeg');
  background-size: cover;
  background-position: center;
  }
  .recipe3 {
    background-image: url('./images/smoothie.jpeg');
  background-size: cover;
  background-position: center;
  }
  .space{
      line-height: 0px;
  }
  